<nav class="navbar navbar-expand-lg bg-pet sticky-top">
    <div class="container-fluid">
        <div class="col-md-5 col-10">
            <a class="navbar-brand" href="#">
                <img src="assets/imagenes/logo-removebg.png" width="50%" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Inicio</a>
                <a class="nav-link" href="#testimonios">Testimonios</a>
                <a class="nav-link" href="#allurion">Acerca de Allurion</a>
                <a class="nav-link" href="#equipo">Equipo</a>
                <a class="nav-link" href="#formu">Contactanos</a>
            </div>
        </div>
    </div>
  </nav>
  