  .bg-pet{
    background-color: #203244;
  }
  .let-pet{
    color: #203244;
  }
  .bg-bage{
    background-color: #caba9f;
  }
  .let-bage{
    color: #caba9f;
  }
  .bg-moz{
    background: #d0a418;
  }
  .let-moz{
    color: #d0a418;
  }
  .bg-bage2{
    background-color: #bca48f;
  }
  .let{
    font-size: 18px;
  }
  .vid-d {
    padding-top: 40px;
  }
  /*CSS PARA EL VIDEO Y BOTON DE INICIAR*/
  video {
    margin-top: 35px;
    width: 100%;
    border-radius: 20px;
    height: 83%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  video:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .btn-sonido {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    opacity: 0.9;
  }

  /* Close button */
  .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Style for buttons */
  .open-modal {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .open-modal:hover {
    background-color: #45a049;
  }

  /*PARTE DE LAS CARTAS*/
  .cartas{
    padding: 15px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
  }
  .CA{
    font-family: Georgia;
  }
  .card {
    width: 16em;
    height: 17.5em;
    background:#203244;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de animación */    
  }
  .card:hover{
    transform: scale(1.03); /* Efecto de acercamiento al pasar el mouse */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5); /* Aumenta la sombra */
  }
  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.80em;
    margin: 1em;
  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color:aqua;
  }
  
  .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: #595857;   
    color: white;
    cursor: pointer;
  }
  /*CSS CONTACTO-MAPA*/
  .info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre icono y texto */
    font-size: 16px;
  }
  /*FORMULARIO GHL*/
 .ghl-form {
    width: 100%;
    height: 750px;
    border: none;
    border-radius: 10px;
  }

  /*BOTON WHATSAPP*/
  .whatsapp-btn {
    position: fixed;
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    top: 73%; /* Centrado vertical */
    transform: translateY(-50%);
    z-index: 1000; /* Asegura que esté encima del contenido */
  }

  .whatsapp-btn img {
      width: 60px; /* Tamaño del ícono */
      height: auto;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out;
  }

  .whatsapp-btn img:hover {
      transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
  }
  .vd{
    width: 70%;
    display: block;
    margin: auto;
  }

  /*CSS EQUIPO*/
  .team-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .cam {
    width: 75%;
  }
  @media screen and (max-width:990px){
    .doctora-img{
      width: 80%;
      display: block;
      margin: auto;
    }
    .cam {
      width: 100%;
    }
    .vd{
      width: 100%;
      display: block;
      margin: auto;
    }
    .intro{
      padding-left: 0.8rem !important;
      padding-right: 0.5rem !important;
      margin-top: -1rem !important;
    }
    .botones {
      padding-left: 0rem !important;
      padding-right: 0.5rem !important;
      margin-top: -2rem !important;
    }
    video {
      margin-top: -15px;
      width: 100%;
      border-radius: 20px;
      height: 103%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .btn-sonido {
      position: absolute;
      top: 96%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      opacity: 0.9;
    }
    .ghl-form{
      height: 1000px;
    }
  }
  .cam:hover {
    background-color: white;
    color: #203244;
  }
  .alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  }

  .success {
    background-color: #4CAF50;  /* Verde */
    border-left: 5px solid #45a049;
  }

  .error {
    background-color: #d0a418;  /* Rojo */
    border-left: 5px solid #d0a418;
  }

  .alert strong {
    font-size: 18px;
  }

  /* Agregar una animación para que la alerta desaparezca con el tiempo */
  .alert {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }