<div class="container-fluid fondo">
    <div class="row let-pet" style="background-color: #caba9f;">
        <!--SECCION BIENVENIDA-->
            <div class="col-md-6 col-12 bg-bage p-4 CA">
                <div class="d-flex flex-column align-items-center text-start pt-5 p-4 intro">
                    <h1>¡BAJA DE PESO de una vez por todas!
                        Pierde hasta 21 Kg en 15 semanas SIN CIRUGÍA</h1>
                    <p class="pt-3 let">Disfrute de una rápida colocación <strong>NO INVASIVA </strong>de balón en 15 MINUTOS en el centro médico de <strong> Dra Milagros Sosa</strong> en Vitoria y pierda entre el 10% al 15% de su peso corporal.</p>    
                </div>
                <div class="d-grid gap-2 col-12 pt-4 m-2 px-3 botones">
                    <a href="#formu" class="btn btn-lg bg-pet let-bage cam"><strong>¡QUIERO PERDER PESO!</strong></a>
                    <a href="#testimonios" class="btn btn-lg bg-moz cam"><strong>Testimonios</strong></a>
                </div>
            </div>
            <div class="col-md-6 col-12 bg-bage p-4">
                <video #videoElement playsinline class="w-100">
                    <source src="assets/video/vid-doc.mp4" type="video/mp4">
                    Tu navegador no soporta el video.
                </video>

                <button 
                    *ngIf="mostrarBotonSonido" 
                    class="btn bg-moz btn-sonido"
                    (click)="activarVideoConSonido()">
                    {{ movil ? '🔊 Activar sonido' : '🔊 Toca para activar el sonido del video' }}
                </button>            
            </div>
        <!--SECCION TESTIMONIOS-->
        <div class="col-12 p-3 CA bg-bage2 pb-4"  id="testimonios">
            <div class="row py-3">
                <div class="d-flex flex-column align-items-center text-center py-3">
                    <h2 style="text-decoration:underline;"><strong>TESTIMONIOS - PROGRAMA ALLURION</strong></h2>
                </div>
                <div class="col-md-3 col-sm-6 col-12 cartas">
                    <div class="card">
                        <div class="img">
                            <img class="img" style="width: 101%; height: 101%;" src="assets/imagenes/t1-Eduardo.png" alt="">
                        </div>
                        <span>EDUARDO CAMPOS</span>
                        <button (click)="abrirEnlace('https://www.youtube.com/watch?v=3ryGkcnhpCc')">TES COMPLETO</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 cartas">
                    <div class="card">
                        <div class="img">
                            <img class="img" style="width: 101%; height: 101%;"  src="assets/imagenes/t2-Juan.png" alt="">
                        </div>
                        <span>JUAN MANUEL</span>
                        <button (click)="abrirEnlace('https://www.youtube.com/watch?v=w7uhdyfurag')">TES COMPLETO</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 cartas">
                    <div class="card">
                        <div class="img">
                            <img class="img" style="width: 101%; height: 101%;" src="assets/imagenes/t3-Victor.png" alt="">
                        </div>
                        <span>VICTOR</span>
                        <button (click)="abrirEnlace('https://www.youtube.com/watch?v=HlKh7xqSXD4')">TES COMPLETO</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 cartas">
                    <div class="card">
                        <div class="img">
                            <img class="img" style="width: 101%; height: 101%;" src="assets/imagenes/t4-Jara.png" alt="">
                        </div>
                        <span>BERNADET JARA</span>
                        <button (click)="abrirEnlace('https://www.youtube.com/watch?v=XA_68Yao4g0')">TES COMPLETO</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Contacto-->
        <div class="container-fluid bg-pet btn CA contactanos" href="#formu">
            <a href="#formu" style="color: white; text-decoration: none;">
                <p class="pt-3"><strong>¡QUIERO PERDER PESO!</strong></p>
            </a>
        </div>
        <!--SECCION VIDEO ALLURION-->
        <div class="col-12" id="allurion" style="background-color: white;">
            <div class="row cartas CA py-5">
                <!-- Columna con la descripción -->
                <div class="col-md-6 order-2 order-md-1 pt-4 px-5">
                    <h2>Pierde peso de manera segura y eficaz</h2>
                    <p>Prueba un nuevo método para perder peso de manera definitiva con nuestro balón gástrico ingerible con un seguimiento personalizado de 4 meses. Sin cirugía, sin anestesia, ni endoscopia, el balón se coloca en el estómago en solo 15 minutos y te ayuda a tener sensación de saciedad comiendo muy poco. Durante 16 semanas, nuestro equipo multidisciplinar te acompañará para adoptar hábitos saludables y sostenibles en el tiempo para evitar el efecto rebote. Al final, el balón se expulsa de forma natural sin tener que acudir a la clínica. En Clínica Doctora Milagros Sosa, único centro en Vitoria Gasteiz con el Programa Allurion, te ofrece mejorar tu salud, apariencia y calidad de vida mediante una pérdida de peso de manera fácil y efectiva. ¡Obtén tu valoración gratuita hoy!</p>
                </div>                
                 <!-- Columna con el video -->
                 <div class="col-md-6 order-1 order-md-2 text-center">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/XsrSyUqZXe8" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>                
            </div>
        </div>
        <!--SECCION COMO TRABAJA EL BALON-->
        <div class="col-12 cartas" id="balon">
            <div class="row CA"> 
                <div class="d-flex flex-column align-items-center text-center p-4 pt-4">
                    <h3>¿Por qué elegir el <strong>balón gastrico ingerible</strong>?</h3>
                </div>
                <div class="col-md-3 col-12">
                    <img src="assets/imagenes/razon1-kg.png" alt="">
                    <p class="p-4">Pierde hasta 25kg en aprox. 12-16 semanas.</p>
                </div>
                <div class="col-md-3 col-12">
                    <img src="assets/imagenes/razon2-colocacion.png" alt="">
                    <p class="p-4">Colocación en consulta ambulatoria en 15-20 minutos.</p>
                </div>
                <div class="col-md-3 col-12">
                    <img src="assets/imagenes/razon3-sincirujia.png" alt="">
                    <p class="p-4">Sin cirujía, sin anestesia y sin endoscopía</p>
                </div>
                <div class="col-md-3 col-12">
                    <img src="assets/imagenes/razon4-sinefectorebote.png" alt="">
                    <p class="p-4">Mantén el peso perdido sin efecto de rebote. Con seguimiento nutricional</p>
                </div>
            </div>
        </div>
        <!--Contacto-->
        <div class="container-fluid bg-pet btn CA contactanos" href="#formu">
            <a href="#formu" style="color: white; text-decoration: none;">
                <p class="pt-3"><strong>¡QUIERO PERDER PESO!</strong></p>
            </a>
        </div>
        <!--SECCION DETALLES DEL PROGRAMA-->
        <div class="col-12 bg-bage2" id="detalles">
            <div class="row cartas CA">
                <div class="col-12 py-3 px-5">
                    <!--<video class="vd" #videoElement muted>
                        <source src="assets/imagenes/prueba-video.mp4" type="video/mp4">
                    </video>-->
                    <h2 class="py-3">¡Estás a solo 16 semanas de alcanzar tu peso ideal!</h2>
                    <p>En Clínica Doctora Milagros Sosa te ofrecemos un tratamiento innovador, sin cirugía, sin anestesia ni endoscopia: el balón gástrico que se coloca en apenas 15 minutos y se elimina solo, de forma natural, sin necesidad de retirarlo en una clínica.

                        Desde los primeros días sentirás saciedad comiendo menos, lo que te permitirá bajar de peso sin esfuerzo, sin pasar por quirófano y sin efecto rebote. Sí, los resultados se mantienen en el tiempo.
                        
                        Durante todo el proceso contarás con un acompañamiento 100% personalizado, tanto médico como nutricional, para asegurar resultados duraderos y seguros.
                        
                        ¿Tienes dudas? Completa el formulario y te llamaremos para brindarte un diagnóstico gratuito y resolver todas tus preguntas.</p>
                </div>
            </div>
        </div>        
        <!--SECCION EQUIPO DE ATENCIÓN DE LA CLÍNICA-->
        <div class="col-12 cartas" id="equipo">
            <div class="row CA py-3"> 
                <div class="d-flex flex-column align-items-center text-center p-4 pt-4">
                    <h2 style="text-decoration:underline;"><strong>NUESTRO EQUIPO</strong></h2>
                </div>
                <div class="col-md-3 col-12 pb-2">
                    <img src="assets/imagenes/doctora.jpg" alt="Persona 1" class="rounded-circle img-fluid team-photo mb-3">
                    <h5 class="mb-1">DRA. MILAGROS SOSA</h5>
                    <p class="text-muted small">Médico - Colocación Balón y Seguimiento Médico</p>
                </div>
                <div class="col-md-3 col-12 pb-2">
                    <img src="assets/imagenes/doctor.jpg" alt="Persona 2" class="rounded-circle img-fluid team-photo mb-3">
                    <h5 class="mb-1">DR. LAUTARO BOCCHIO</h5>
                    <p class="text-muted small">Nutricionista - Asesoria y Seguimiento Nutricional</p>
                </div>
                <div class="col-md-3 col-12 pb-2">
                    <img src="assets/imagenes/equi2.jpg" alt="Persona 3" class="rounded-circle img-fluid team-photo mb-3">
                    <h5 class="mb-1">NEREA FERNÁNDEZ</h5>
                    <p class="text-muted small">Recepcionista - Atención al Paciente</p>
                </div>
                <div class="col-md-3 col-12 pb-2">
                    <img src="assets/imagenes/equi1.jpg" alt="Persona 4" class="rounded-circle img-fluid team-photo mb-3">
                    <h5 class="mb-1">CLARA OLIVER</h5>
                    <p class="text-muted small">Auxiliar Médico - Tratamientos Reductores</p>
                </div>
            </div>
        </div>
        <!--SECCION ATENCION/FORMULARIO-->
        <div class="col-12  CA" style="background-color: white;">
            <div class="row cartas">
                <!--DIRECCION-->
                <div class="col-md-6 col-12 p-4 mt-4">
                    <h3>ATENCION PERSONAL</h3>
                    <div class="info-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                        </svg>
                        <p class="pt-3">Envianos un correo a clinicasdramilasosa@gmail.com</p>
                    </div>
                    <div class="info-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                        <p class="pt-3">San Frantzisko K., 9, bajo, 01001 Vitoria-Gasteiz, Álava, España</p>
                    </div>
                    <iframe class="pt-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.209933679781!2d-2.672000924644395!3d42.84730020418129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc26f4c934f9d%3A0xecb0ebf1f045d8dd!2sCuesta%20de%20San%20Francisco%2C%209%2C%2001001%20Vitoria-Gasteiz%2C%20%C3%81lava%2C%20Espa%C3%B1a!5e0!3m2!1ses!2sar!4v1742590760684!5m2!1ses!2sar" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!--FORMULARIO-->
                <div class="col-md-6 col-12 form-container" id="formu">
                    <h3 class="pt-4 pb-3">FORMULARIO DE CONTACTO</h3>
                    <form #miFormulario="ngForm" (ngSubmit)="enviarFormulario(miFormulario)">
                        
                        <div class="form-group">
                            <label for="weight">Peso (kg)<span>*</span></label>
                            <input 
                              type="number" 
                              id="weight" 
                              [(ngModel)]="formulario.peso" 
                              name="peso" 
                              required 
                              #peso="ngModel"
                              class="form-control"
                            />
                            <div *ngIf="peso.invalid && peso.touched" class="error">
                              Este campo es obligatorio.
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label for="height">Altura (cm)<span>*</span></label>
                            <input 
                              type="number" 
                              id="height" 
                              [(ngModel)]="formulario.altura" 
                              name="altura" 
                              required 
                              #altura="ngModel"
                              class="form-control"
                            />
                            <div *ngIf="altura.invalid && altura.touched" class="error">
                                Este campo es obligatorio.
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label for="first-name">Nombre/s<span>*</span></label>
                            <input 
                              type="text" 
                              id="first-name" 
                              [(ngModel)]="formulario.nombre" 
                              name="nombre" 
                              required 
                              #nombre="ngModel"
                              class="form-control"
                            />
                            <div *ngIf="nombre.invalid && nombre.touched" class="error">
                                Este campo es obligatorio.
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label for="last-name">Apellido/s<span>*</span></label>
                            <input 
                              type="text" 
                              id="last-name" 
                              [(ngModel)]="formulario.apellido" 
                              name="apellido" 
                              required 
                              #apellido="ngModel"
                              class="form-control"
                            />
                            <div *ngIf="apellido.invalid && apellido.touched" class="error">
                                Este campo es obligatorio.
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label for="email">Correo Electrónico<span>*</span></label>
                            <input 
                              type="email" 
                              id="email" 
                              [(ngModel)]="formulario.email" 
                              name="email" 
                              required 
                              #email="ngModel"
                              class="form-control"
                            />
                            <div *ngIf="email.invalid && email.touched" class="error">
                              El correo es obligatorio y debe ser válido.
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label for="phone">Núm de Teléfono<span>*</span></label>
                            <input 
                              type="text" 
                              id="phone" 
                              [(ngModel)]="formulario.telefono" 
                              name="telefono" 
                              required 
                              #telefono="ngModel"
                              placeholder="+12 123456789"
                              class="form-control"
                            />
                            <div *ngIf="telefono.invalid && telefono.touched" class="error">
                                Este campo es obligatorio.
                            </div>
                          </div>
                        
                          <div class="pb-3"></div>
                          
                          <!-- Botón de envío deshabilitado si el formulario es inválido -->
                          <button class="bg-pet submit-btn" type="submit" [disabled]="!formulario.peso || !formulario.altura || !formulario.nombre || !formulario.apellido || !formulario.email || !formulario.telefono">
                            Enviar Email
                          </button>
                          
                          <div class="pb-2"></div>    
                    </form>                                          
                </div>
            </div>            
        </div>
    </div>

    <!-- Alerta de éxito correo-->
    <div *ngIf="showSuccess" class="alert success CA">
        <strong>¡Éxito!</strong> El correo se ha enviado correctamente.
    </div>  
    <!-- Alerta de error correo-->
    <div *ngIf="showError" class="alert error">
        <strong>Error</strong> Todos los campos deben ser rellenados antes de enviar el correo!!.
    </div>
    <!-- Botón de WhatsApp -->
    <a href="https://wa.me/+34747449569" class="whatsapp-btn" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>